html, body {
    height: 100%;
}

/* stick footer at the bottom of the page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Basic settings for every html file */
.navbar {
    background-color: #FFFFFF;
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 1.4em !important;
}

.entry {
    background-color: #D1D1D1;
    margin-bottom: 1.8rem;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.card-header {
    background-color: #D1D1D1 !important;
}

.list-group-item {
    height: 2.75rem;
}

.footer {
    background-color: #D1D1D1;
    margin-top: auto;
}

/* Settings for HomePage.html file */
#top, #bot {
    margin: auto auto 1.8rem;
    max-width: 40rem;
}

/* Settings for AnimePage.html file */
#anime-list-card {
    margin: auto auto 1.8rem;
    max-width: 40rem;
}

#animeList {
    max-height: 35.95rem;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

/* Settings for AnimeDetail.html file */
/* Margins */
#title-card, #character-card, #form-card, #other-tags-card {
    margin: auto 0.9rem 1.8rem auto;
}

#ep-num-card, #target-card, #origin-card, #place-card {
    margin: auto auto 1.8rem 0.9rem;
}

#genre-card {
    margin: auto auto 1.8rem 0.9rem;
}

/* Heights */
#title-card, #ep-num-card{
    height: 6.063rem;
}

#character-card {
    height: 17.587rem;
}

#form-card, #other-tags-card, #genre-card, #target-card, #origin-card, #place-card {
    height: 7.9rem;
}

/* Injected html settings */
#characterList {
    height: 12.9rem;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

#form, #otherTags, #genre, #target, #origin, #place {
    /* Must be scroll here*/
    overflow-y:hidden;
    overflow-x:scroll;
    -webkit-overflow-scrolling: touch;
}

/* Settings for CharacterDetail.html file */
/* Margins */
#name-card, #surname-card, #movie-card {
    margin: auto 0.9rem 1.8rem auto;
}

#age-card, #sex-card, #voice-actor-card {
    margin: auto auto 1.8rem 0.9rem;
}

/* Heights */
#name-card, #surname-card, #age-card, #sex-card, #voice-actor-card {
    height: 6.063rem;
}

#movie-card {
    height: 17.587rem;
}

